
*{
    padding: 0;
    margin: 0;
    border: none;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.header button{
    margin: 40px;
}
.hero{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    height: 260px;
    background: rgba(0,6,55,0.89);
    border-radius: 30px;
}
.hero p{
    width: 400px;
    text-align: center;
    color: rgba(232,244,224,0.89);
    padding: 20px;
}
.hero button{
    width: 100px;
    height: 50px;
    border-radius: 8px;
    background: yellow;
    color: white;
    text-align: center;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


